.fixed-head{
    position: fixed;
    top: 0;
    z-index: 999;
    width: 100%;
    padding-left: 70px;
    padding-top: 10px;
    background-color: white;
}
.header{
    /* display: flex;
    justify-content: space-between;
    gap: 400px;
    flex-wrap: wrap;
    background-color: white; */
    display: flex;
    justify-content: space-around;
    gap: 40px;
    align-content: center;
}
.logo{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 5px;
    /* padding-left: 20px; */
}
.logo-image{
    height: 30px;
    width: 30px;
}
.logo-name{
    color: rgb(240, 80, 107);
}
.type{
    border: 1px solid gray;
    border-radius: 25px;
    display: flex;
    flex-wrap: wrap;
    width: 300px;
    justify-content: space-between;
    padding: 10px;
    align-items: center;
    margin: 5px;
}
.text-g{
    color: gray;
}
.line{
    border-right: 1px solid gray;
    height: 20px;
    margin-top: 3px;
}
.search{
    background-color: rgb(240, 80, 107);
    
    border-radius: 50%;
    width: 30px;
    height: 30px;
}
.search-icon{
    margin-top: 8px;
    margin-left: 8px;
}
.details{
    /* border: 2px solid black; */
    border-radius: 14px;
    display: flex;
    width: 275px;
    gap: 35px;
    padding: 10px;
    align-items: center;
}
.login{
    border: 1px solid gray;
    border-radius: 14px;
    display: flex;
    flex-wrap: wrap;
    width: 45px;
    justify-content: space-evenly;
    /* padding: 4px; */
    padding-top: 7px;
    align-items: center;
}
hr{
    margin-top: 80px;
}
.sticky-container{
    position: sticky;
    top: 70px;
    z-index: 999;
    background-color: white;
}
.container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    margin-left: 30px;
}
.options{
    font-size: 10px;
}
.cont-text{
    margin-top: 0;
}
.cont-img{
    height: 28px;
    width: 28x;
}
.arrow{
    border: 1px solid gray;
    border-radius: 50%;
    height: 35px;
    width: 35px;
    padding-top: 5px;
    /* justify-content: center; */
}
.arrow-icon{
    margin-top: 4.5px;
    margin-left: 6.5px;
}
.filters{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    border: 1px solid gray;
    border-radius: 16px;
    width: 100px;
    justify-content: space-evenly;
    font-size: 14px;
}
.price-container{
    display: flex;
    flex-wrap: wrap;
    margin: 25px auto;
    border: 1px solid gray;
    border-radius: 16px;
    align-items: center;
    width: 800px;
    justify-content: space-between;
}
.first-container{
    display: flex;
    flex-wrap: wrap;
    padding-left: 10px;
    gap: 35px;
    align-items: center;
}
.slider{
    padding-right: 20px;
}
.card-container{
    display: flex;
    /* justify-content: center; */
    /* width: 600px; */
    flex-wrap: wrap;
}
/* .hotel-card{
    width: 800px;
} */
.hotel{
    position: relative;
    padding: 10px 10px 0 10px;
    width: 321px;
    /* height: 500px; */
}
.hotel-img{
    width: 100%;
    height: 300px;
    border-radius: 14px;
}
.heart-icon{
    position: absolute;
    top: 0;
    right: 0;
    margin-top: 5%;
    margin-right: 6%;
}
.hotel-flex{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 0 15px 15px 15px;
}
.hotel-desc{
    font-size: 14px;
    padding: 0 10px 10px 10px;
}
.dest{
    font-size: 18px;
}
.rating{
    padding: 10px;
}
.map-container{
    margin: 15px auto;
    width: 125px;
    position: fixed;
    bottom: 10%;
    right: 0;
    left: 0;
    z-index: 999;
}
.map{
    background-color: black;
    border-radius: 30px;
    padding: 15px;
    border: 1px solid;
    color: white;
}
.bottom-container{
    width: 100%;
    background-color: white;
    padding-left: 30px;
    padding-right: 30px;
    position: fixed;
    bottom: 0;
    margin-top: 15px;
}
.bottom{
    display: flex;
    justify-content: space-between;
    padding-right: 50px;
}
.legal{
    display: flex;
    align-items: center;
    gap: 10px;
}
.floating-dot{
    border: 1px solid black;
    border-radius: 50%;
    height: 1px;
    width: 1px;
    /* margin-top: 40px; */
}
.help{
    display: flex;
    align-items: center;
    gap: 10px;
}